@font-face {
  font-weight: 400;
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Medium.ttf");
}

body {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  box-sizing: border-box;
  flex-wrap: wrap;

  margin: 0;

  color: #0E0E0E;

  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.2%;

  background: #FFFFFF;
}

.weather-now {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 399px;

  /*border: 2px solid;*/
}

.weather-week {
  width: 881px;
}

.block-degrees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 359.67px;
}

.block-degrees > .degrees {
  font-weight: 300;
  font-size: 120px;

  margin-bottom: 60px;
}

.block-about-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  width: 239px;
  height: 373px;

  margin-bottom: 20px;
}

.block-about-day > div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 145px;
  height: 43px;
}

hr {
  width: 131px;
  height: 3px;

  border: none;
  background: #F1F1F1;;
}

.block-text {
  position: relative;
  display: block;

  margin-top: 120px;
}

.block-text::before {
  position: absolute;
  display: block;
  top: -2px;
  left: -50px;
  width: 40px;
  height: 40px;

  background: url(../assets/images/Map\ Point.png);
  content: "";
}

.city {
  width: 179px;
  height: auto;

  text-align: center;
  font-weight: 500;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clouds {
  font-weight: 600;
  font-size: 20px;

  opacity: 0.7;
}

.margin-right-11 {
  margin-right: 11px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-25 {
  font-weight: 500;
  font-size: 25px;
}

.size-35 {
  font-weight: 500;
  font-size: 35px;
}

.opacity-05 {
  opacity: 0.5;
}

.flex-center {
  display: flex;
  justify-content: center;

  width: auto;
}

.weather-week > .this-week {
  margin-left: 60px;
}

section > .days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 661px;
  height: 557px;

  margin-top: 70px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 76px;
  height: 557px;
}

.column > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 74px;
  height: 65px;
}

.week-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 50px;
  height: 50px;
}